beautifulsoup4==4.9.3
Django==3.1.6
django-extensions==3.1.2
djangorestframework==3.12.4
ImageHash==4.2.0
Pillow==8.1.0
pip-tools==5.5.0
requests==2.25.1
Scrapy==2.4.1
isbnlib==3.10.6
pytest==6.2.2
pytest-django==4.1.0
python-memcached==1.59
airtable_python_wrapper==0.15.2
psycopg2-binary==2.8.6


opencv-python==4.5.1.48
opencv-contrib-python==4.5.1.48
